.block{
  text-align: center;
  margin-top: 50px;
}

.button{
    min-width: 200px;
    height: 70px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    z-index: 0;
    background: #fff;
    overflow: hidden;
    border: 1px solid #495057;
    color: #495057;
  }
  .button:hover {
    color: #fff;
  }
  .button:hover:after {
    width: 100%;
  }
  .button:after {
    content: "";
    position: absolute;
    z-index: -1;
    transition: all 0.3s ease;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background: #495057;
  }